<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.KuaidiMapper">
	<resultMap type="Kuaidi" id="kuaidiResultMap">
		<id property="id" column="id" />
		<result property="s_0" column="k_gongs" />
		<result property="s_1" column="k_danh" />
		<result property="s_2" column="k_ren" />
		<result property="s_3" column="k_phon" />
		<result property="s_4" column="k_diz" />
		<result property="s_5" column="k_state" />
		<result property="s_6" column="k_bz" />
		<result property="s_7" column="f_status" />
	</resultMap>

	<delete id="deleteObject" parameterType="int">
		update t_kuaidi set f_status = 'N' where id=#{id};
	</delete>

	<select id="selectObject" parameterType="int" resultMap="kuaidiResultMap">
		SELECT t_kuaidi.id,
			   t_kuaidi.k_gongs,
			   t_kuaidi.k_danh,
			   t_kuaidi.k_ren,
			   t_kuaidi.k_phon,
			   t_kuaidi.k_diz,
			   t_kuaidi.k_state,
			   t_kuaidi.k_bz,
			   t_kuaidi.f_status
		  FROM t_kuaidi
		 WHERE t_kuaidi.id = #{id}
	</select>

	<select id="getObjectList"  resultMap="kuaidiResultMap" parameterType="java.util.Map">
		SELECT t_kuaidi.id,
			   t_kuaidi.k_gongs,
			   t_kuaidi.k_danh,
			   t_kuaidi.k_ren,
			   t_kuaidi.k_phon,
			   t_kuaidi.k_diz,
			   t_kuaidi.k_state,
			   t_kuaidi.k_bz,
			   t_kuaidi.f_status
		  FROM t_kuaidi
		 WHERE 1 = 1 AND t_kuaidi.f_status = 'Y'
		<if test="field == 's_0'">
			and t_kuaidi.k_gongs like '%${fieldValue}%'
		</if>
		<if test="field == 's_1'">
			and t_kuaidi.k_danh like '%${fieldValue}%'
		</if>
		<if test="field == 's_2'">
			and t_kuaidi.k_ren like '%${fieldValue}%'
		</if>
		<if test="field == 's_3'">
			and t_kuaidi.k_phon like '%${fieldValue}%'
		</if>
		<if test="field == 's_4'">
			and t_kuaidi.k_diz like '%${fieldValue}%'
		</if>
		<if test="field == 's_5'">
			and t_kuaidi.k_state like '%${fieldValue}%'
		</if>
		<if test="field == 's_6'">
			and t_kuaidi.k_bz like '%${fieldValue}%'
		</if>
	</select>

	<insert id="insertObject" parameterType="Kuaidi">
		INSERT INTO t_kuaidi(k_gongs, k_danh, k_ren, k_phon, k_diz, k_state, k_bz, f_status)
				VALUES(#{s_0}, #{s_1}, #{s_2}, #{s_3}, #{s_4}, #{s_5}, #{s_6}, 'Y')
	</insert>

	<update id="updateObject" parameterType="Kuaidi">
		UPDATE t_kuaidi set k_gongs=#{s_0}, k_danh=#{s_1}, k_ren=#{s_2}, k_phon=#{s_3}, k_diz=#{s_4}, k_state=#{s_5}, k_bz=#{s_6}
				where id=#{id}
	</update>

</mapper>

