<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<package name="com.it.model" />
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<mappers>
		<package name="com.it.mapper" />
	</mappers>

</configuration>
